* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
li {
  font-family: "HelveticaNeue";
}

a {
  text-decoration: none;
  color: #ffffff;
}
.contact {
  background-color: #ffffff;
  /* border-radius: 28px; */
  width: 160px;
  padding: 18px 43px 18px 35px;
  height: unset;
  text-align: center;
  color: #000000;
}
.contact a {
  color: #000000;
  width: 160px;
  height: 55px;
}
ul,
ol {
  list-style: none;
}
body {
  display: flex;
  background: var(--unnamed-color-0a22f4) 0% 0% no-repeat padding-box;
  background: #0a22f4 0% 0% no-repeat padding-box;
  /* box-shadow: 0px 0px 50px #ffffff1f; */
  opacity: 0.95;
}
body {
  font-family: "HelveticaNeue";
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue.eot");
  src: url("../fonts/HelveticaNeue.eot") format("embedded-opentype"),
    url("../fonts/HelveticaNeue.woff2") format("woff2"),
    url("../fonts/HelveticaNeue.woff") format("woff"),
    url("../fonts/HelveticaNeue.ttf") format("truetype"),
    url("../fonts/HelveticaNeue.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
li {
  color: #ffffff;
}
.head {
  display: flex;
}
.logo img {
  width: 100%;
}
