* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
li {
  font-family: "HelveticaNeue";
  color: #ffffff;
}
a {
  text-decoration: none;
  color: #ffffff;
}
ul,
ol {
  list-style: none;
}
body {
  background: var(--unnamed-color-0a22f4) 0% 0% no-repeat padding-box;
  background: #0a22f4 0% 0% no-repeat padding-box;
  /* box-shadow: 0px 0px 50px #ffffff1f; */
  opacity: 0.95;
  overflow-x: hidden;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue.eot");
  src: url("../fonts/HelveticaNeue.eot") format("embedded-opentype"),
    url("../fonts/HelveticaNeue.woff2") format("woff2"),
    url("../fonts/HelveticaNeue.woff") format("woff"),
    url("../fonts/HelveticaNeue.ttf") format("truetype"),
    url("../fonts/HelveticaNeue.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px;
}
/* .logo img {
  width: 100%;
} */
.navbar-ul {
  display: flex;
  flex-wrap: wrap;
}
.navbar-li {
  margin-left: 20px;
}
.head-box {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.contact {
  background-color: #ffffff;
  width: 160px;
  padding: 18px 43px 18px 36px;
  height: 55px;
  text-align: center;
}
.contact a {
  color: #000000;
}
.contact a:hover{
    background-color: #f00000;
}
/* .contact {
  padding: 40px;
} */
.navbar-li {
  padding: 20px;
}
/* .left {
  display: flex;
}  */
/* .section {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
}
/* .left img {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  margin-top: 295px;
  margin-left: -225.3546905517578px;
  width: 400px;
} */
/* .middle img {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  margin-top: 240px;
  width: 500px;
  /* margin-left: 607px; */
}
/* .right img {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  margin-top: 295px;
  width: 400px;
  margin-left: 1050px;
}  */
/* .left,
middle,
.right {
  float: left;
  width: 33.33%;
  padding: 5px; */
} */
.img_container{
	display: flex;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.img_item{
    display: flex;
	width:33.33%;
	padding: 5px;
}
.img_item img{
    display: flex;
    width: 100%;
    height: auto;
}
.images {
  display: flex;
  /* max-width: 1200px; */
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
} 
